<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>
<body id="main">
    <h2>formulario de carga de productos</h2>
    <form id="prodForm" class="inputs">
        <div class="inp">
            <label for="name">Nombre:</label>
            <input type="text" name="name" required>
        </div>
        <div class="inp">
            <label for="price">Precio:</label>
            <input type="number" name="price" required>
        </div>
        <div class="inp">
            <label for="thumbnail">Link img:</label>
            <input type="text" name="thumbnail" required>
        </div>
        <button>Subir</button>
    </form>
    <div id="prods" class="prods">
    </div>
    <div id="log">
        <div>
            <label for="mail">Ingrese su Email para ingresar al chat</label>
            <input type="email" id="mail">
        </div>
        <button id="entry">entrar al chat</button>
    </div>
    <script src="../index.js"></script>
</body>
</html>